.menu{}

.menu a{
    text-decoration: none;
}
.menu li{
    position: relative;
    list-style: none;
}

.menu__list:hover .sub-menu__list{
    display: block;
}
.menu__list>li{
    margin: 0px 10px 0px 0px;
}
.menu__link{
    color: black;
}
.sub-menu__list{
    min-width: 100px;
    max-width: 250px;
    display: none;
    position: absolute;
    top: 20px;
    right: -13px;
    padding: 4px 0;
    background: white;
    border: 1px solid lightgray;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.08);

}
.sub-menu__link{
    width: 100%;
    color: black;
    display: inline-block;
    padding: 5px 10px;
    white-space: nowrap;
    height: 30px;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    outline: 0;
}
.sub-menu__link:hover{
    background-color: rgba(135,206,250 ,0.2 );

}

